# INCREMENT

In [1]:
import sqlite3 as sqlite

In [15]:
master=sqlite.connect("Student_Results.db")
master.execute('''CREATE TABLE IF NOT EXISTS Result(
       ID INTEGER PRIMARY KEY AUTOINCREMENT,
       NAME TEXT NOT NULL,
       MATHS INT NOT NULL,
       ENGLISH INT NOT NULL,
       BIOLOGY INT NOT NULL,
       PHYSICS INT NOT NULL,
       CHEMISTRY INT NOT NULL)''')
master.close()

In [18]:
master=sqlite.connect("Student_Results.db")
master.execute('''INSERT INTO Result(ID,NAME,MATHS,ENGLISH,BIOLOGY,PHYSICS,CHEMISTRY)
       VALUES(1,"James",50,82,69,72,60)''')
master.commit()
master.close()

In [19]:
master=sqlite.connect("Student_Results.db")
master.execute('''INSERT INTO Result(ID,NAME,MATHS,ENGLISH,BIOLOGY,PHYSICS,CHEMISTRY)
       VALUES(2,"Jane",80,91,60,42,69)''')
master.commit()
master.close()

In [27]:
master=sqlite.connect("Student_Results.db")
def student_(ID,NAME,MATHS,ENGLISH,BIOLOGY,PHYSICS,CHEMISTRY):
    master.execute('''INSERT INTO Result(ID,NAME,MATHS,ENGLISH,BIOLOGY,PHYSICS,CHEMISTRY)
        VALUES(?,?,?,?,?,?,?)''',(ID,NAME,MATHS,ENGLISH,BIOLOGY,PHYSICS,CHEMISTRY))
    master.commit()
student_(3,"Amadi",23,61,60,70,59)
master.close()

In [29]:
master=sqlite.connect("Student_Results.db")
curs=master.cursor()
content=master.execute("SELECT* FROM Result")
for record in content:
    print(record)
master.close()

(1, 'James', 50, 82, 69, 72, 60)
(2, 'Jane', 80, 91, 60, 42, 69)
(3, 'Amadi', 23, 61, 60, 70, 59)

# READ

In [39]:
master=sqlite.connect("Student_Results.db")
def read_result_():
    rizz=master.execute('''SELECT * FROM Result''')
    for record in rizz:
        print(f"ID: {record[0]}")
read_result_()
master.close()

ID: 1
ID: 2
ID: 3

In [45]:
master=sqlite.connect("Student_Results.db")
def read_result_():
    rizz=master.execute('''SELECT * FROM Result''')
    for record in rizz:
        print(f"ID:{record[0]}\nName:{record[1]}\nMaths:{record[2]}\nEnglish:{record[3]}\nBiology:{record[4]}\nPhysics:{record[5]}\nchemistery:{record[6]}\n")
read_result_()
master.close()

ID:1
Name:James
Maths:50
English:82
Biology:69
Physics:72
chemistery:60

ID:2
Name:Jane
Maths:80
English:91
Biology:60
Physics:42
chemistery:69

ID:3
Name:Amadi
Maths:23
English:61
Biology:60
Physics:70
chemistery:59

# UPDATE

In [46]:
master=sqlite.connect("Student_Results.db")
def update_result():
    master.execute('''UPDATE Result set NAME="Mike" WHERE ID=3''')
    master.commit()
update_result()
read_result_()
master.close()

ID:1
Name:James
Maths:50
English:82
Biology:69
Physics:72
chemistery:60

ID:2
Name:Jane
Maths:80
English:91
Biology:60
Physics:42
chemistery:69

ID:3
Name:Mike
Maths:23
English:61
Biology:60
Physics:70
chemistery:59

In [47]:
master=sqlite.connect("Student_Results.db")
def update_result():
    master.execute('''UPDATE Result set MATHS=90 WHERE ID=1''')
    master.commit()
update_result()
read_result_()
master.close()

ID:1
Name:James
Maths:90
English:82
Biology:69
Physics:72
chemistery:60

ID:2
Name:Jane
Maths:80
English:91
Biology:60
Physics:42
chemistery:69

ID:3
Name:Mike
Maths:23
English:61
Biology:60
Physics:70
chemistery:59

# DELETE

In [48]:
master=sqlite.connect("Student_Results.db")
def delete_result():
    master.execute('''DELETE FROM Result WHERE ID=1''')
    master.commit()
delete_result()
read_result_()
master.close()

ID:2
Name:Jane
Maths:80
English:91
Biology:60
Physics:42
chemistery:69

ID:3
Name:Mike
Maths:23
English:61
Biology:60
Physics:70
chemistery:59